.intro  {
  p {
    font-size: clamp(14px, 5vw, 16px);
    color: #d4d4d8;
  }

  h1 {
    font-size: clamp(40px, 8vw, 80px);
  }

  h2 {
    font-size: clamp(30px, 8vw, 70px);
  }

  h5 {
    font-size: 20px;
    color: #009c3b;
  }
}
