<div class="experience-card">
  <h1><span style="color: white"><%= @position %></span> @ <%= link_to @company, @url, target: "_blank" %></h1>
  <h3><%= @duration %></h3>
  <p><%= content %></p>
</div>
