<footer class="footer">
  <div class="content">
    <%= link_to "Design by Britanny Chiang", "brittanychiang.com" , class: "text-sky-400" %> - Coded by Me <i class="fas fa-coffee"></i>
  </div>
</footer>
