<nav class="bg-neutral-900">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="text-sky-400">LOGO</div>

      <div class="hidden sm:ml-6 sm:block">
        <div class="flex space-x-4">
          <a href="#about-me" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">
            <span class="text-sky-400">01. </span>About Me</a>
          <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">
            <span class="text-sky-400">02. </span>Team</a>
          <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">
            <span class="text-sky-400">03. </span>Projects</a>
          <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">
            <span class="text-sky-400">04. </span>Calendar</a>
          <%= link_to "Resume", root_path, class: "bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" %>
        </div>
      </div>
    </div>
  </div>
</nav>

