<nav>
  <div class="flex h-16 items-center justify-between my-8">
    <div class="flex items-center logo">
      <%= link_to root_path do %>
        <h1 class="mr-2">pedro miranda</h1>
      <% end %>
      <%= image_tag "botafogo.png", style: "height: 24px" %>
    </div>

    <div class="hidden sm:ml-6 sm:block nav">
      <div class="flex space-x-4">
        <%= link_to about_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" do %>
          About Me</a>
        <% end %>
        <a href="#projects" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">
          Projects</a>
        <%= link_to snippets_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" do %>
          Code Snippets</a>
          <% end %>
        <a href="#work-experience" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">
          Notes</a>
        <a href="#work-experience" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">
          Get in Touch</a>
        <i class="fa-solid fa-language"></i>
      </div>
    </div>
  </div>
</nav>

