<section id="about-me">
  <%= render(NumberedHeadingComponent.new(number: "01", title: "About Me")) %>

  <div class="about">
    <div>
      <p>
        Hello! My name is Brittany and I enjoy creating things that live on the internet.
        My interest in web development started back in 2012 when I decided to try editing custom Tumblr themes
      </p>
      <p>
        — turns out hacking together a custom reblog button taught me a lot about HTML & CSS!
        Fast-forward to today, and I’ve had the privilege of working at an advertising agency, a start-up, a huge corporation,
        and a student-led design studio. My main focus these days is building accessible, inclusive products and digital experiences at Upstatement for a variety of clients.
      </p>
      <p>
        I also recently launched a course that covers everything you need to build a web app with
        the Spotify API using Node & React.
        Here are a few technologies I’ve been working with recently:
      </p>

      <p>
        Here are the technologies I enjoy coding with:
      </p>

      <ul class="tech-stack">
        <li> <span class="text-green-500">></span> Ruby </li>
        <li> <span class="text-green-500">></span> Ruby on Rails </li>
        <li> <span class="text-green-500">></span> HotWire </li>
        <li> <span class="text-green-500">></span> JavaScript (ES6+) </li>
        <li> <span class="text-green-500">></span> Python (for Data) </li>
      </ul>

    </div>

    <div class=photo>
      <%= image_tag "profile.png" %>
      <span class="box"></span>
    </div>

  </div>
</section>
