<section id="connect">
  <%= render(NumberedHeadingComponent.new(number: "04", title: "Get in Touch")) %>
  <p style="font-size: 20px;">
    I’m interested in freelance opportunities.
    If you have other request or question, don’t hesitate to <span style="color: #10b981"><%= mail_to "pbragamiranda@pm.me", "contact me" %></span>.
  </p>
</section>
