<section id="projects">
  <%= render(SectionHeadingComponent.new(title: "Projects")) %>

  <div class="flex justify-between">
    <p>https://pbragamiranda.github.io/pbragamiranda/</p>
  </div>
</section>
