.about {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;

  p {
    margin: 0px 0px 16px;
  }
}

.photo {
  position: relative;
  margin-right: 56px;

  img {
    // height: 300px;
    max-width: 100%;
    border-radius: 4px;
    margin-right: 80px;
    // filter: grayscale(100%);
    filter: blur(1px) grayscale(100%);

    &:hover {
      filter: blur(0px) grayscale(100%);
    }

    &:hover + .box {
     top: 16px;
     left: 16px;
    }
  }

  .box {
    border: 2px solid green;
    top: 10px;
    left: 10px;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
}

.tech-stack {
  display: grid;
  grid-template-columns: repeat(3, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
}
