/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #171717;
  color: white;
}

section {
    margin: 64px auto;
    padding: 100px 0px;
    max-width: 1000px;
}

.intro  {
  p {
    font-size: clamp(14px, 5vw, 16px);
    color: red;
  }

  h1 {
    font-size: clamp(40px, 8vw, 80px);
  }

  h5 {
    font-size: 20px;
    color: green;
  }
}

.left {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
  color: red;

  li {
    margin-bottom: 16px;
  }
}

.right {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
  color: red;

  a {
    margin: 20px auto;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.1em;
    writing-mode: vertical-rl;
  }

}


.line {
  content: "";
  display: block;
  width: 1px;
  height: 160px;
  margin: 0px auto;
  background-color: red;
}
