/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "intro";
@import "about";
@import "navbar";
@import "font-awesome";

body {
  background-color: #171717;
  color: white;
}

section {
  max-width: 1000px;
  margin: 100px auto;
  padding: 100px 0px;
  scroll-behavior: smooth !important;
}

.numbered-heading {
  display: flex;
  -webkit-box-align: center;
  align-items: baseline;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;

  h1 {
    font-size: clamp(26px,5vw,32px);
    white-space: nowrap;
  }

  h3 {
    font-size: 16px;
    margin-right: 4px;
  }

  .line {
    content: "";
    display: block;
    position: relative;
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: red;
  }
}
